body{
    background-color:aqua;
}
h1{
    text-align: center;
    color:rgb(229, 255, 0);
    border-radius: 30px;
    background: linear-gradient(174deg, #7700ff, #0099ff);
}
     
h2{
    text-align: center;
    color: blue;
}
.square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 1300px;
    height: 618px;
}

.mole {
    background-image:url('mole.jpg');
    background-size: cover;
}